.App {
  text-align: center;
  background-color: #8e94f2;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
}

.body {
  background-color: #271f30;
}

.inputContainer {
  padding: 20px;
}

.inputContainer > input {
  padding: 4px;
  margin-right: 2px;
}

.inputContainer > button {
  padding: 5px;
  margin-right: 2px;
  background-color: #271f30;
  color: #ffeedd;
  border: 0;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffeedd;
  border: 2px solid #8895b3;
  width: 400px;
  padding-left: 20px;
  margin: 2px;
}

.taskItems > h3 {
  margin-right: 20px;
  color: #271f30;
}

.taskItems > div {
  border: 0;
  height: 100%;
}

.buttonContainer > button {
  background-color: #a5ffd6;
  border: #a5ffd6;
  padding: 25px 35px;
}
